<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/fragments/index::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<h4 style="font-family: cursive, sans-serif;">Contact management
				is the act of storing, organizing, and tracking information about
				your customers, prospects, and sales leads.</h4>
			<p>In its most basic form, you can manage your contact data using
				an address book or an Excel or Google spreadsheet with entries for
				all the people you do business with. However, many businesses choose
				to use specialized contact management software. This can be
				especially beneficial if you have many contacts to organize or
				multiple people that need access to the information. Some
				organizations use Customer Relationship Management (CRM) systems
				instead of contact management software. CRM tools typically provide
				contact management functionality but add features that help
				businesses manage their relationships.</p>

			<hr />

			<h4 style="font-family: cursive, sans-serif;">Contact management
				software vs. CRM system</h4>
			<p>Contact management software and CRM software are both related
				in that they help you organize contacts. A CRM is typically much
				broader in scope in terms of the functionality it offers. Although
				the exact place where a contact manager becomes a CRM system is not
				clearly defined. You should know that while contact management and
				CRM are different things, the two labels are sometimes used
				interchangeably. This is due in part to their similarities. Here is
				a look at some of the differences between contact management and
				CRM.</p>

			<img src="../img/About-Content.png">
			<hr />

			<h4 style="font-family: cursive, sans-serif;">Contact management
				software</h4>
			<p>Contact management software typically allows you to make
				entries for each of your contacts. This can include contact
				information such as a name, phone number, email address, or company.

				The tools organize this information in a way that makes it easy for
				you to find the entries again. The data may also be available to
				search. Contact management software can also offer features like
				tracking the interactions between the customer and the business, as
				well as some scheduling abilities, for example, the ability to
				organize meetings with clients in a calendar.</p>

			<hr />

			<h4 style="font-family: cursive, sans-serif;">Customer
				relationship management software</h4>
			<p>
				A CRM tool will typically combine the above contact management
				features with extra functionality that helps your business manage
				its relationships and create a great customer experience. It will
				help organize all your marketing and sales activities through
				features like automation, email marketing, and pipelines. Not all
				CRM software solutions offer the same features, however. The exact
				ones you have available to you will typically depend on the provider
				and plan you choose.<br>
				<br> Here are some common CRM features:
			</p>
			<ul>
				<li><h5
						style="font-family: Gill Sans Extrabold, sans-serif; font-weight: bold">Track
						customer interactions</h5></li>
				<li><h5
						style="font-family: Gill Sans Extrabold, sans-serif; font-weight: bold">Lead
						scoring</h5></li>
				<li><h5
						style="font-family: Gill Sans Extrabold, sans-serif; font-weight: bold">Sales
						force automation</h5></li>
				<li><h5
						style="font-family: Gill Sans Extrabold, sans-serif; font-weight: bold">Marketing
						automation</h5></li>
				<li><h5
						style="font-family: Gill Sans Extrabold, sans-serif; font-weight: bold">Analytics
						and reporting</h5></li>
			</ul>
		</div>
	</section>
</body>
</html>