<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="/fragments/index::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Document</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="signup-form">
						<form th:action="@{/do_register}" method="post"
							class="mt-5 border p-4 bg-light shadow" th:object="${users}">
							<div th:if="${session.message}"
								th:classappend="${session.message.type}"
								class="alert text-center" role="alert">
								<span th:text="${session.message.content}"></span>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
							</div>
							<h4 class="mb-5 text-secondary">Create Your Account</h4>
							<div class="row">
								<div class="mb-3 col-md-6">
									<label>First Name<span class="text-danger">*</span></label> <input
										type="text" name="fname" class="form-control"
										placeholder="Enter First Name" th:value="${users.fname}">
								</div>

								<div class="mb-3 col-md-6">
									<label>Last Name<span class="text-danger">*</span></label> <input
										type="text" name="Lname" class="form-control"
										placeholder="Enter Last Name" th:value="${users.lname}">
								</div>

								<div class="mb-3 col-md-12">
									<label>Email<span class="text-danger">*</span></label> <input
										type="text" name="email" class="form-control"
										placeholder="Enter Email ID" th:value="${users.email}">
								</div>
								<div class="mb-3 col-md-6">
									<label>Password<span class="text-danger">*</span></label> <input
										type="password" name="password" class="form-control"
										placeholder="Enter Password">
								</div>
								<div class="mb-3 col-md-6">
									<label>Confirm Password<span class="text-danger">*</span></label>
									<input type="password" name="confirmpassword"
										class="form-control" placeholder="Confirm Password">
								</div>

								<div class="mb-3 col-md-12">
									<label>Short Description<span class="text-danger">*</span></label>
									<textarea rows="4" class="form-control" name="about"
										placeholder="Leave a description about yourself"></textarea>
								</div>

								<div class="col-12">
									<div class="form-check">
										<input class="form-check-input" type="checkbox"
											name="agreement" id="agreement"> <label
											class="form-check-label" for="agreement">Accept terms
											and conditions</label>
									</div>
								</div>

								<div class="col-md-12">
									<button type="submit" class="btn btn-primary float-end">Sign
										Up</button>
								</div>
							</div>
						</form>
						<p class="text-center mt-3 text-secondary">
							If you have account, Please <a th:href="@{/signin}">Login Now</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>